@import "variables";
@import "mixins";
// * Global Stylings * //
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-size: 100%;
    box-sizing: border-box;
}

body {
    background: white;
    font-family: $font-content;
    font-weight: $regular;
    font-size: $normal-font;
}

// * Flexbox Helper Class* //
.flex {
    display: flex;
    flex-direction: column;

    @include breakpoint-up(large){
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    &-ai-c{
        align-items: center;
    }

    &-jc-c{
        justify-content: center;
    }
}

// * Content Paddings & Margins Helper Class * //
.container {
    padding-top: 12.5rem;
    padding-left: 7.5rem;
    padding-right: 4.875rem;

    @include breakpoint-up(medium){
        padding-top: 4rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

// * Dark-Mode Theme * //
.dark-mode{
    filter: invert(1) hue-rotate(180deg);
}
// * Regret Dark-Mode Theme On Images Helper Class * //
.invert{
    filter: invert(1) hue-rotate(180deg);
}